// Element Plus 主题色默认值（被 element-variables.scss 作为 $--color-primary 引用）
$-color-6359CA: #6359CA !default;
:root {
  //项目主题设置
  --layoutMain-6359CA: #6359CA; //色系选择的默认主题色 根据颜色选择器变换

  --layoutSideMenuBg: #ffffff; //菜单背景色
  --layoutSideMenuColor7E84A3: #7E84A3; //菜单 色
  --layoutSideMenuColor344563: #344563; //菜单 色
  --layoutSideMenuColorFFF: #ffffff; //菜单 色
  --layoutSideMenuColorF9F8FD: #F9F8FD; //菜单 色
  --layoutSideMenuColorF9F8FD-rgba: #F9F8FD; //菜单 色
  --layoutSideMenuSelected: #6359CA; //选中色
  --layoutSideMenuColorArrow: #7E84A3; //上下箭头色
  --layoutTopMenuCol: #7E84A3; //头部菜单设默认色
  --layoutBeacon: #6359CA; //头部icon默认色
  --layoutBeaconBg: #ffffff; //头部icon默认背景色
  --layoutBeaconCol: #2c3e50; //头部icon默认字体色
  --layoutBreadcrumbCol: #170C6B; //面包屑颜色
  --layoutTopMenuBg: #ffffff; //橫向菜单变量色
  --layoutTopMenuIsActive: #6359CA; ///头部菜单选中
}
