.e-tips {
  position: relative;
  max-height: 45px;
  transition: max-height 0.5s;
  background-color: #f1f4fa;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #7d8dbf;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  ::v-deep .e-button-n {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  h3 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 6px;
    line-height: 14px;
  }
}